header {
    padding: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
}

form {
    text-align: center;
    justify-content: center;
    min-height: 100%;
}

li {
    justify-content: center;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    list-style: none;
    margin-right: 50px;
}